@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --main-color: #A75F4A;
    --border-radius:95% 4% 97% 5%/4% 94% 3% 95%;
    --border-radius-hover:4% 95% 6% 95%/95% 4% 92% 5%;
    --border:.2rem solid var(--main-color);
    --border-hover:.2rem dashed var(--main-color);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition: all .2s linear;
}

html{
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px black;
    border-radius: 10px;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #A75F4A;
    border-radius: 10px;
}

::-webkit-scrollbar-track-piece{
    background: black;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
.bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}
/* ***************** about ******************* */

.about .card-title{
    -webkit-text-stroke: .05rem var(--main-color);
    text-align: center;
    pointer-events: none;
    position: relative;
}

.photobox img{
    width: 100;
    height: 100;
}
/* ***************** about end******************* */


/* ***************** menu *********************** */
.menu{
    background: url(../images/menu-bg.png) no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 50px;
}

.menu .heading{
    -webkit-text-stroke: .05rem var(--main-color);
    text-align: center;
    pointer-events: none;
    position: relative;
}


.menu .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
    justify-content: center;
    
}

.menu .box-container a{
    text-decoration: none;
}

.menu .box-container .box{
    flex:1 1 19rem;
    padding:2rem;
    border:var(--border);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    gap:1.5rem;
    margin-left: 6rem;
}

.menu .box-container .box:hover{
    border:var(--border-hover);
    border-radius: var(--border-radius-hover);
}

.menu .box-container .box img{
    height: 8rem;
    margin-left: -6rem;
}


.menu .box-container .box .content h3{
    
    color:var(--main-color);
    
}

.menu .box-container .box .content p{
    
    color:var(--main-color);
    
    padding:1rem 0;
}

.menu .box-container .box .content span{
    
    color:var(--main-color);
    
}

@media(max-width:768px){
    .menu .box-container .box{
        margin-left: 0;
        margin-top: 6rem;
        flex-flow: column;
        text-align: center;
    }

    .menu .box-container .box img{
        margin-left: 0;
        margin-top: -6rem;
    }

}

/* ***************** menu end ******************* */


/* ***************** footer ****************** */


.footer{
    position:relative; 
    right: 0;
    bottom:0;
    left:0;
    margin-bottom: 0;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap:1.5rem;
}

.footer .box-container .box h3{
    padding:1rem 0;
    color:var(--main-color);
}

.footer .box-container .box a{
    display: block;
    text-decoration: none;
    color:var(--main-color);
}

.footer .box-container .box a i{
    padding-right: .5rem;
}

.footer .box-container .box a:hover{
    color: #A75F4A;
}



.footer .credit span{
    border-bottom: var(--border-hover);
    bottom: 0;
}

/* ***************** footer end ************** */

#myBtn {
    float: right;
    display: none; /* Hidden by default */
    position: relative; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 50%; /* Rounded corners */
    font-size: 12px; /* Increase font size */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}
/* ***************** footer end ************** */